{% extends "app_principal/navbar.html" %}
{% load static %}
{% block content %}

<body>
  <!--   <header class="header-menu">
    <nav class="nav">
      <a href="{% url 'index' %}">
        <img class="logo nav-link" src="images/electro.png" height="150" width="150" alt="" /></a>
      <button class="nav-toggle" aria-label="Abrir menu">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="{% url 'afiliarse' %}" class="nav-menu-link nav-link">Afiliarse</a>
        </li>
        <li class="nav-menu-item">
          <a href="{% url 'login' %}" class="nav-menu-link nav-link">Portal Pacientes</a>
        </li>
        <li class="nav-menu-item">
          <a href="{% url 'portal-medicos' %}" class="nav-menu-link nav-link">Portal Médicos</a>
        </li>
        <li class="nav-menu-item">
          <a href="{% url 'contactos' %}" class="nav-menu-link nav-link">Contacto</a>
        </li>
      </ul>
    </nav>
  </header> -->
  <form class="formulario">

    <h1>Afiliate a nuestra red de Medicina Prepaga</h1>
    <div class="contenedor">
      <div class="input-contenedor">
        <i class="fas fa-user icon"></i>
        <input type="text" id="usuario" placeholder="Nombre Completo">
        <p></p>
      </div><br>

      <div class="input-contenedor">
        <i class="fas fa-envelope icon"></i>
        <input type="email" id="email" placeholder="Correo Electrónico">
        <p></p>
      </div><br>

      <div class="input-contenedor">
        <i class="fas fa-phone icon"></i>
        <input type="tel" required placeholder="Num. Teléfono">
      </div><br>

      <div class="input-contenedor">
        <i class="fas fa-suitcase icon"></i>
        <select name="producto" form="formulario" required>
          <option value="plan300">Plan 300</option>
          <option value="plan400">Plan 400</option>
          <option value="plan500">Plan 500</option>
          <option value="planplatinum">Plan Platinum</option>
        </select>
      </div>
    </div>
    <input type="submit" value="Enviar solicitud" class="button">
    <p>Nuestro sector de ventas se comunicará a la brevedad.</p>
    <p>¿Ya eres cliente?<a class="link" href="{% url 'login' %}">Iniciar Sesión</a></p>
    </div>
  </form>
</body>
<script defer src="email.js"></script>



{% endblock %}