{% extends "app_principal/navbar.html" %}
{% load static %}
{% block content %}

<body>

  <p>**Términos y Condiciones de Uso - Central de Turnos**

    Fecha de vigencia: [Fecha de inicio]

    Por favor, lea detenidamente estos Términos y Condiciones antes de utilizar nuestros servicios de la Central de
    Turnos. Al acceder y utilizar nuestros servicios, usted acepta cumplir y estar sujeto a estos términos. Si no está
    de acuerdo con alguno de los términos, por favor absténgase de utilizar la Central de Turnos.

    **1. Servicios Ofrecidos:**
    La Central de Turnos proporciona servicios para la gestión eficiente de turnos, permitiendo a los usuarios
    programar, modificar y cancelar citas de manera fácil y rápida.

    **2. Registro de Usuario:**
    Para acceder a ciertas funciones de la Central de Turnos, es necesario crear una cuenta. Usted es responsable de
    mantener la confidencialidad de su información de cuenta y de todas las actividades que ocurran bajo su cuenta.

    **3. Uso Apropiado:**
    Usted se compromete a utilizar la Central de Turnos de manera legal y ética. No está permitido utilizar la
    plataforma para actividades ilegales, fraudulentas, difamatorias o cualquier otro propósito que viole estos Términos
    y Condiciones.

    **4. Responsabilidades del Usuario:**
    El usuario es responsable de proporcionar información precisa al programar o modificar turnos. La Central de Turnos
    no se hace responsable de problemas derivados de información incorrecta proporcionada por el usuario.

    **5. Cambios en los Turnos:**
    Los usuarios pueden realizar cambios en sus turnos, siempre y cuando lo hagan dentro del plazo establecido por el
    proveedor de servicios correspondiente. La Central de Turnos no garantiza la disponibilidad de nuevos horarios.

    **6. Cancelación de Turnos:**
    Los usuarios pueden cancelar turnos de acuerdo con las políticas establecidas por el proveedor de servicios. La
    Central de Turnos no se hace responsable de cargos asociados a cancelaciones fuera de los plazos establecidos.

    **7. Privacidad y Seguridad:**
    La Central de Turnos se compromete a proteger la privacidad y seguridad de la información del usuario. Consulte
    nuestra Política de Privacidad para obtener más detalles sobre cómo manejamos los datos personales.

    **8. Modificaciones de los Términos:**
    Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones
    entrarán en vigencia tan pronto como se publiquen en la plataforma. Se recomienda revisar regularmente los términos
    para estar al tanto de cualquier cambio.

    **9. Terminación de Servicios:**
    Nos reservamos el derecho de suspender o cancelar el acceso a la Central de Turnos en caso de violación de estos
    Términos y Condiciones.

    **10. Contacto:**
    Si tiene alguna pregunta o inquietud sobre estos Términos y Condiciones, por favor contáctenos a través de [correo
    electrónico de contacto].

    Al utilizar la Central de Turnos, usted acepta cumplir con estos Términos y Condiciones. ¡Gracias por elegir
    nuestros servicios!</p>

  </main>
</body>

</html>
{% endblock %}