{% extends "app_principal/sidebar_administracion.html" %}
{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_principal/css/alta.css' %}">
{% endblock %}



<h2>{{ fecha|date:" l, d/m/Y,"}} {{ fecha|time:"H:i" }} hs</h2>




<h1>Bienvenid@</h1>
<h3>{{user.username | title}}</h3>




{% endblock %}


<!-- {% if cant_pacientes > 0 %}
<h2>Hoy tiene: {{cant_pacientes}} pacientes</h2>
{% else %}
<h2>No hay pacientes para su atencion hoy</h2>
{% endif %}
<ul>
    {% if cant_pacientes > 0 %}
    <h2>Sus pacientes para hoy son:</h2>

    {% for nombre_paciente in listado_pacientes %}
    <li>
        <b>
            {{ nombre_paciente | title }}
        </b>
    </li>
    {% empty %}

    {% endfor %}
    {% endif %}
</ul> -->