{% extends "app_principal/sidebar_administracion.html" %}
{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_principal/css/alta.css' %}">
{% endblock %}
<h1>Lista de Afiliados</h1>
<div>
    <ul>
        {% for nombre_afiliado in listado_afiliados %}
        <li>
            <p>{{ nombre_afiliado.nombre_completo | title }}</p>
            <p>{{ nombre_afiliado.email}}</p>
            <p>{{ nombre_afiliado.dni}}</p>
            <p>{{ nombre_afiliado.numAfiliado}}</p>
        </li>
        {% empty %}
        <p>Sin personas afiliadas</p>
        {% endfor %}
    </ul>

    {% if cant_afiliados > 0 %}
    <p>cantidad de afiliados: {{cant_afiliados}}</p>
    {% else %}
    <p>No hay afiliados</p>
    {% endif %}
</div>
{% endblock %}