{% extends "app_principal/sidebar_administracion.html" %}
{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_principal/css/alta.css' %}">
{% endblock %}




<h1>Listado de Profesionales</h1>



<table>
    <thead>
        <tr>
            <th>Proveedor</th>
            <th>Producto</th>
            <th>Costo</th>
            <th>Fecha</th>
            <th>Fecha</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for nombre_profesional in listado_profesionales %}
        <tr>
            <td>{{ nombre_profesional.nombre_completo | title }}</td>
            <td>{{ nombre_profesional.email}}</td>
            <td>{{ nombre_profesional.dni}}</td>
            <td>{{ nombre_profesional.matricula}}</td>
            <td>{{ nombre_profesional.especialidad}}</td>
            <td>{{ nombre_profesional.cuit}}</td>
        </tr>

    </tbody>
</table>


{% empty %}
<p>Sin Profesionales Regisrados</p>
{% endfor %}

{% if listado_profesionales.count > 0 %}
<p>Cantidad de Profesionales registrados: {{listado_profesionales.count}}</p>
{% else %}
<p>No hay docentes registrados</p>
{% endif %}
{% endblock %}