{% extends "app_principal/navbar.html" %}
{% load static %}
{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'app_principal/css/alta.css' %}">
{% endblock %}

<h1>Listado de Profesionales</h1>
<ul>
    {% for nombre_profesional in listado_profesionales %}
    <li>
        <p>{{ nombre_profesional.nombre_completo | title }}</p>
        <p>{{ nombre_profesional.email}}</p>
        <p>{{ nombre_profesional.dni}}</p>
        <p>{{ nombre_profesional.matricula}}</p>
        <p>{{ nombre_profesional.especialidad}}</p>
        <p>{{ nombre_profesional.cuit}}</p>
    </li>
    {% empty %}
    <p>Sin Profesionales Regisrados</p>
    {% endfor %}
</ul>

{% if listado_profesionales.count > 0 %}
<p>cantidad de docentes registrados: {{listado_profesionales.count}}</p>
{% else %}
<p>No hay docentes registrados</p>
{% endif %}
{% endblock %}