<form method="post" action="{% url 'seleccionar_turno_afiliado' %}">
    {% csrf_token %}

    <!-- Agregar el campo de especialidad al formulario -->
    {{ form.especialidades }}

    <input type="submit" value="Seleccionar Turno" class="button" />
</form>

<!-- Mostrar los turnos filtrados -->
<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Profesional</th>
        </tr>
    </thead>
    <tbody>
        {% for turno in turnos %}
        <tr>
            <td>{{ turno.fecha }}</td>
            <td>{{ turno.hora }}</td>
            <td>{{ turno.profesional.nombre_completo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>