main {
    background: #fff;
    border: 1px solid #110c0c;
    border-radius: 5px;
    width: 70%;
    margin-top: 150px;
    padding: 3px;
    margin: auto
}

h3 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    text-align: center;
}

.select,
input[type="text"],
input[type="email"],
input[type="number"] {
    border: none;
    width: 95%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #110c0c;
    border-radius: 5px;
}

input[type="submit"] {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


input[type="submit"]:hover {
    background: cadetblue;
}

p {
    text-align: center;

}